<section id="item">
	<div class="cover-image">
		<%= image_tag "items/platina/platina_100es_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Platina 100 Es</h2>
				<p>
					Platina ES has been designed to achieve maximum fuel efficiency with the convenience of modern features. What Platina ES delivers for its riders is a unique combination of mileage and smart biking features coupled with attractive graphics, alloy wheels, solid build, SNS suspension and its most unique attribute – the pushbutton Electric Start
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>102 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>8.02 @ 7500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>Single cyl, 2-valve, DTS-I with ExhausTEC</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>8.06 @ 5000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/platina/platina_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>				
    									102 cc engine
									</p>
									<p>8.2 Ps Power</p>
									<p>96.9 KMPL (According to ARAI testing)</p>
								</div>
								<p class="text">
									When it comes to utilizing your fuel, the Platina ES is a miser. Its 102 cc engine rolls out an 8.2 Ps power ride that gives it a stunning mileage of 96.9 kmpl. The Platina ES does an impressive job on long trips with its zero maintenance battery and high fuel tank capacity (11.5 liters).
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/platina/platina_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/platina/platina_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Sleek rear panels
									</p>
									<p>Fluid grab rails</p>
									<p>Impressive graphics</p>
									<p>New colour options</p>
									<p>Alloy Wheels</p>
								</div>
								<p class="text">
									Platina ES 100 comes with a distinctive look. Its graphite tint engine, transmitter with a black silencer and the chrome heat shield give it a robust yet modern appearance. Its list of stylish features goes on to include an improved superior bright chrome finish, fade free paint and a superior gloss with scratch resistance that makes the Platina stand out from the crowd.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/platina/platina_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										1255 mm wheelbase
									</p>
									<p>110 mm drum brakes</p>
									<p>Solid build with 108 kg kerb weight</p>
									<p>Cast iron engine block</p>
								</div>
								<p class="text">
									The Platina has a high ground clearance that makes the bike adaptable to bumpy and uneven terrains. Not just that, Platina ES has been designed to withstand a wide range of weather conditions, ranging from -5C to +50C.  With best in class safety features, Platina ES is a champion that will provide safety & stability on long journeys.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Long seat
									</p>
									<p>SNS Suspension</p>
									<p>Electric Start</p>
								</div>
								<p class="text">
									Platina gives a comfortable ride while offering good mileage and economy. Its unique SNS (Spring in Spring) Suspension gives the Platina steady handling while touring the toughest of roads. Its long seat brings in the comfort for both rider and pillion so great distances can be traveled without encountering any fatigue.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/platina/platina_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>