<section id="item">
	<div class="cover-image">
		<%= image_tag "items/pulsar/pulsar_220_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Pulser 220 F</h2>
				<p>
					Not just a bike but a beast that has more power than you ever imagine. A creature that arrives swiftly and never goes unnoticed on any road. Have you spotted it yet? This could be your chance to tame it.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>220 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>21.04 @ 8500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4-stroke, DTS-i, air cooled</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>19.12 @ 7000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/pulsar/pulsar_220_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										4 stroke Twin Spark DTS-i 220 cc engine
									</p>
									<p>Oil Cooled</p>
									<p>Temperature based ignition mapping</p>
									<p>ExhausTEC</p>
								</div>
								<p class="text">
									The DTSi Engine in Pulsar 220F ensures better combustion that helps the machine deliver unmatched performance and fuel economy. The oil cooling ensures that your bike does not overheat. The patented ExhausTEC technology provides high pickup at low RPM thus eliminating the need for frequent gear shifts. The Pulsar 220F boasts of an excellent power delivery of 21Ps @ 8500 RPM and healthy torque of 19Nm @ 7000 RPM. All this with a power to weight ratio of 140 PS/Ton, making the Pulsar 220F one of the most powerful bike in its class.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/220_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/220_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Sporty Aerodynamic Semi Fairing
									</p>
									<p>Twin Tone Decals</p>
									<p>LED Tail lamp</p>
									<p>Split Seats</p>
									<p>5 Spoke Alloy Wheels</p>
								</div>
								<p class="text">
									The aerodynamic semi-fairing and the muscular 15 litre fuel tank adds an extra layer of style to the sportiness of Pulsar 220F. The sporty looks of the Pulsar 220F are only accentuated by smart LED tail lamps and split seats. The refreshing Twin Tone decals add a special zing to the style quotient of the Pulsar 220F. The tubeless tyres and alloy wheels make for stunning looks, easy maintenance and better road grip. All one can say is – let the fastest beast in town rule the road.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/220_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										Front &amp; rear disc brakes
									</p>
									<p>Projector headlamp with DC lighting</p>
									<p>Tubeless tyres</p>
									<p>Broad rear tyre</p>
									<p>Digital Console</p>
									<p>Clip on handle bars</p>
								</div>
								<p class="text">
									The Pulsar 220F comes equipped with  260 mm front and 230mm rear disc brakes that makes braking smoother and keeps you safer on the streets. Its high wattage (55 W) twin projector headlamp produces precise and wide penetrating beams that helps lighting the road and the surrounding periphery. The digital backlit console displays crucial vitals along with a low fuel indicator, neutral blinker and low battery indicator.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Nitrox Shock absorbers
									</p>
									<p>Telescopic front forks with anti-friction bushes</p>
									<p>Rear grab rails</p>
									<p>Ergonomic design</p>
								</div>
								<p class="text">
									The Pulsar 220F brings to you increased comfort and the promise of a better ride. The rear grab rails make the ride more comfortable for the pillion. The Nitrox shock absorbers at the rear and the telescopic front forks with anti-friction bushes ensure that the ride stays comfortable even if the terrain gets rougher.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/220_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>