<section id="item">
	<div class="cover-image">
		<%= image_tag "items/pulsar/pulsar_135_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Pulser 135</h2>
				<p>
					If you ever wanted to anoint yourself into the world of sports biking, there’s no better bike than Pulsar 135 that helps you do that. The world’s first 4 valve DTSi engine, which provides greater power and can be revved to greater RPMs without causing the slightest strain to the engine. It boasts a power to weight ratio that gives serious competition to some 150 cc bikes and maintains fuel efficiency that compares itself to 125 cc bikes. Pulsar 135 is equipped to go from 0-60 in 5.1 seconds. A technological wonder that makes you fall in love with sports biking.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>134.66 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>13.05 @ 9000 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>
								4 stroke, air cooled, 4-valve, single cylinder, SOHC, DTS-i
							</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>11.04 @ 7500 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/pulsar/pulsar_135_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										4 valve, Twin Spark DTS-i, 135 cc engine
									</p>
									<p>5 speed gear box</p>
									<p>ExhausTEC</p>
									<p>Electric Start with Auto Choke </p>
								</div>
								<p class="text">
									Light yet powerful, its DTSi engine improves ignition timing thus ensuring smoother power delivery and better throttle response. What you get when you step up on this thrill machine is 13.5 Ps power in your stride.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/135_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/135_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Bikini Fairing
									</p>
									<p>Stylish  LED Tail Lamps</p>
									<p>Clip on handle bar</p>
									<p>Split Seat &amp; Split Grab Rail</p>
									<p>Twin Pilot Headlamps</p>
								</div>
								<p class="text">
									The Pulsar 135 is a true style statement for every rider. Right from its sleek LED tail lamps to sporty split seats and split grab rails, Pulsar 135 is designed to make heads turn with its aggressive look.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/135_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										240mm ventilated front disc brake
									</p>
									<p>Upright seat posture</p>
									<p>DC Lighting</p>
								</div>
								<p class="text">
									While riding in the city, braking becomes intensely difficult. The 240mm ventilated front disc brakes improves braking and hence provides enhanced safety. Its 12V DC headlamps ensure a constant flicker free light beam making even your night rides completely safe.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Lighter handling
									</p>
									<p>Single down tube chassis frame</p>
								</div>
								<p class="text">
									Bajaj Pulsar 135 comes with a beefed up body frame measuring up to 1320 mm wheelbase giving more strength and higher stability with an exceptionally tight turning radius. It weighs less and yet lends a robust structure that puts the rider at comfort.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/135_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
		        		<li><%= link_to "slider-circle", "#" %></li>
		        		<li><%= link_to "slider-circle", "#" %></li>
		        		<li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>