<section id="item">
	<div class="cover-image">
		<%= image_tag "items/pulsar/pulsar_ns_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Pulser Ns 200</h2>
				<p>
					Pulsar NS200 takes your Pulsar experience to an all new level. A bike crafted for seeking adventure every day. Combined with the World’s 1st 4 Valve, Triple Spark DTSi Engine, Pulsar NS200 is designed to thrill with its superior technology and street fighter looks.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>199.5 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>23.52 @ 9500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>SOHC - 4V - Liquid Cooled </p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>18.3 @ 8000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/pulsar/pulsar_variant.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										4-valve, DTSi 200cc, Triple Spark Engine
									</p>
									<p>Liquid cooling</p>
									<p>6-speed Gearbox</p>
								</div>
								<p class="text">
									Pulsar NS200 comes with a 4-Valve Triple Spark 200cc engine coupled with a smooth shifting 6 speed gearbox that optimizes power delivery, throttle response and pick-up to deliver 23.5 Ps of power and 18.3 Nm of Torque. It also contains a Liquid Cooling system that makes every ride a smooth experience on the road without overheating or fading.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/200ns_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/200ns_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Aggressive styling with muscular looks
									</p>
									<p>Twin Tone Decal</p>
									<p>Digital Analog Console</p>
									<p>Backlit switches, LED Tail lights</p>
									<p>Stylish Alloy wheels.</p>
								</div>
								<p class="text">
									Make way for the real street fighter in town. The bike isn’t just created. It’s crafted with attention to detail. Something that imparts NS200 the meanest look on the streets with its aggressive features. The foot pegs, hand grips or backlit switches. A motorcycle that has been designed to perfection – right from its looks to its superior technology.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/200ns_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										Front and Rear Petal Disc Brakes
									</p>
									<p>Low CG for stability</p>
									<p>Tubeless tyres.</p>
								</div>
								<p class="text">
									The Pulsar NS200 boasts of an almost 50:50 weight distribution and a low centre of gravity which helps in manoeuvring curves effortlessly and substantially improving high speed and straight line stability. The front and rear tyres come with petal disc brakes which ensure a quick and smooth deceleration.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Ergonomic design
									</p>
									<p>Nitrox mono shock</p>
									<p>Pressed Steel Perimeter frame</p>
									<p>Underbelly Exhaust</p>
								</div>
								<p class="text">
									Pulsar NS200 wins not just with its technology but with the level of comfort it offers to the rider. An ideal thrill machine for smooth roads as well as steep inclines. The design has been thought keeping the rider at its core: Its lower centre of gravity and Nitrox mono shock unit makes the bike a comfortable companion and provides a rich riding experience.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/200ns_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>