<section id="item">
	<div class="cover-image">
		<%= image_tag "items/pulsar/pulsar_150_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Pulser 150</h2>
				<p>
					A bike that asserts every rider’s passion for biking by bringing all the features in this single thrill machine. Pulsar 150 is meant for the rider who seeks adventure every day.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>149.01 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>15.06 @ 9000 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4-stroke, DTS-i, air cooled, single cylinder</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>12.05 @ 7500 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/pulsar/pulsar_150_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										4 Stroke DTSi Twin Spark 150cc Engine
									</p>
									<p>Air Cooled Engine</p>
									<p>Digital C.D. I unit</p>
									<p>ExhausTEC</p>
								</div>
								<p class="text">
									Equipped with the revolutionary 150cc DTSi engine, Pulsar 150 delivers 15Ps power that is churned out by the twin spark plugs that fire away simultaneously. The spark plugs are digitally controlled for optimum combustion of air fuel mixture.
								</p>
								<p class="text">
									At the heart of every Pulsar, is one of the most sophisticated engine technologies ever built. The DTS-i System is a technological marvel. It combines the Spark Plug Combination (Twin or Triple Spark) with TRICS III (Throttle Response Ignition Control System) and Intelligent CDI to ensure maximum performance with the lowest fuel consumption and emission levels possible.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/150_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/150_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Aerodynamic tank flaps
									</p>
									<p>Refreshing Twin Tone Decal</p>
									<p>Masked fairing with Wolf eyed headlamps</p>
									<p>Back Lit LCD Digital Speedometer  &amp; Tachometer Console</p>
									<p>Twin Slashed LED Tail Lamp</p>
								</div>
								<p class="text">
									A bike that packs in aggression and attraction at the same time with its sporty look, masked fairing and wolf eyed headlamps. Pulsar 150 comes with cool twin tone decals that grab your attention, a digital console complete with rider friendly features such as low fuel indicator, neutral blinker, low battery display and self-cancelling indicators. The bulb free stylish LED tail lamp gives you near zero maintenance.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/150_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										240 mm ventilated front disc brake
									</p>
									<p>1320 mm wheelbase</p>
									<p>12 V full DV headlamps</p>
								</div>
								<p class="text">
									With a muscular body and a wheelbase of 1320mm, Pulsar 150 maintains a tight turning radius giving all the strength and stability to the biker while riding. Its 240 mm ventilated front disc brake ensure quicker and safer braking each time. 12V full DC headlamps ensure constant light beam making riding even at night, a more comfortable experience.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Telescopic front fork with anti-friction bushes
									</p>
									<p>5 step adjustable Nitrox rear shock absorbers</p>
									<p>Upright seats</p>
									<p>17” alloy wheels</p>
								</div>
								<p class="text">
									Pulsar 150 ensures a comfortable ride with its upright seat position, smooth suspension and 17” alloy wheels.  The Nitrox shock absorbers and 135 mm telescopic front forks with anti -friction bushes make riding on rough surfaces easier.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/150_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>