<section id="item">
	<div class="cover-image">
		<%= image_tag "items/pulsar/pulsar_180_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Pulser 180</h2>
				<p>
					Pulsar 180 has been designed to surge ahead while proving its technological acumen. A renowned bike that has been a part of the Pulsar stable since its inception in 2001. It has been consistently winning immense appreciation for its solid, muscular looks and power packed performance.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>178.06 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>14.22 @ 6500 (Nm @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4-stroke, DTS-i, air cooled, single cylinder</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>19.12 @ 7000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/pulsar/pulsar_180_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										4 Stroke DTSi Twin Spark 180cc Engine
									</p>
									<p>Air Cooled Engine</p>
									<p>Digital C.D. I unit</p>
									<p>ExhausTEC</p>
								</div>
								<p class="text">
									A bike that comes with the revolutionary DTSi engine to deliver 17 Ps power and a torque of 14.2 Nm. The Twin Spark System with CDI and TRICS III units ensures better combustion of fuel resulting in improved fuel efficiency as well as better power delivery. ExhausTEC facilitates high pickup at low RPM thus eliminating the need for frequent gear shifts.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/180_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/180_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Aerodynamic fairing on tank flaps
									</p>
									<p>Refreshing Twin Tone Decal</p>
									<p>Masked fairing with Wolf eyed headlamps</p>
									<p>Stylish LED Tail Lamps</p>
									<p>Alloy Wheels</p>
								</div>
								<p class="text">
									The pulsar 180 grabs your attention with amazing styling features. Its muscular and aerodynamic fairing on the tank and wolf eyed headlamps would simply make heads turn. The Twin Tone decals makes the bike look truly stylish.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/180_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										Tubeless rear &amp; front tyres
									</p>
									<p>Strengthened 5 spoke alloy wheels</p>
									<p>240 mm front disc brakes</p>
									<p>Broader rear tyre</p>
									<p>12 V full DC headlamp</p>
									<p>Digital Speedometer Console</p>
									<p>Clip on handle bars</p>
								</div>
								<p class="text">
									12 V full DC headlamps gives a constant light beam at all speeds. Tubeless tyres coupled with 240mm front disc brakes ensure better control over the road. Pulsar 180 comes with an intelligent digital console that has a low fuel indicator, neutral blinker, low battery display and self-cancelling indicator that tells you all the on road statistics of the bike in a single go. Not just that, its clip-on handle bars are complete with pass switch, electric start and engine kill switch.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Ergonomic design
									</p>
									<p>Telescopic front forks with anti-friction bushes</p>
									<p>Nitrox rear shock absorbers</p>
									<p>Rear grab rails</p>
								</div>
								<p class="text">
									The Pulsar 180 comes equipped with Nitrox Rear shock absorbers and telescopic front fork with anti-friction bushes which along with a 1345mm broad wheelbase ensure a comfortable ride to both rider and pillion.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/pulsar/180_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>