<section id="contact-page">
	<div class="wrapper">
		<h2>Dinesh Automobiles</h2>
		<ul class="contact-option">
			<li>
				<figure>
					<%= image_tag "contact/email-icon.png", :alt => 'email-icon' %>
				</figure>
				<h4>Email</h4>
				<%= link_to "d_dineshgupta@rediffmail.com", 'mailto:d_dineshgupta@rediffmail.com' %>
			</li>
			<li>
				<figure>
					<%= image_tag "contact/phone-icon.png", :alt => 'phone-icon' %>
				</figure>
				<h4>Phone</h4>
				<p>+91 9812747361</p>
			</li>
			<li>
				<figure>
					<%= image_tag "contact/address-icon.png", :alt => 'address-icon' %>
				</figure>
				<h4>Address</h4>
				<p>Dinesh Automobiles,<br /> Mandi Adampur,<br />Hisar</p>
			</li>
			<li>
				<figure>
					<%= image_tag "contact/facebook-icon.png", :alt => 'facebook-icon' %>
				</figure>
				<h4>Facebook</h4>
				<%= link_to "facebook/dineshautomobiles", 'https://www.facebook.com/dineshautomobiles?ref=bookmarks', :target => '_blank' %>
			</li>
		</ul>
	</div>
</section>