<section id="item-details">
	<div class="cover-image">
		<%= image_tag "discover/discover-cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="content">
			<div class="heading">
				<h3>Discover</h3>
			</div>
			<div class="information">
				<div class="information-level-1">
					<div class="overview">
						<div class="overview-image">
							<h4>OVERVIEW</h4>
							<figure>
								<%= image_tag "discover/discover_overview.jpg", :alt => 'overview-image' %>
							</figure>
						</div>
						<div class="overview-text">
							<p>
								Bajaj Discover – a bike that embraces Bajaj’s new design philosophy and technological innovations. A bike that seamlessly blends its patented technologies such as DTSi, ExhausTEC and Nitrox Monoshock to give what bikers seek most – an exciting ride every day. A bike meant for those who want to break away from the monotony of routine riding.
							</p>
						</div>
					</div>
					<div class="model">
						<div class="slider">
							<h4>Select Model</h4>
							<div class="slider-area">
								<ul class="slider-items">
									<li>
										<figure>
											<%= image_tag "discover/discover-150f.jpg", :alt => 'model image' %>
										</figure>
										<h3>Discover 150 F</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "discover/discover-150s.jpg", :alt => 'model image' %>
										</figure>
										<h3>Discover 150 S</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "discover/discover-125m.jpg", :alt => 'model image' %>
										</figure>
										<h3>Discover 125 m</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "discover/discover-100m.jpg", :alt => 'model image' %>
										</figure>
										<h3>Discover 100 m</h3>
									</li>
								</ul>
								<div class="slider-arrows">
					                <%= link_to "#", :class=>"left-arrow" do %>
					                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
					                <% end %>
					                <%= link_to "#", :class=>"right-arrow" do %>
					                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
					                <% end %>
					                <div class="clearfix"></div>
					            </div>
					            <ul class="slider-nav">
							        <li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
							    </ul>
							</div>
						</div>
					</div>
				</div>
				<div class="information-level-2">
					<div class="technology">
						<div class="slider">
							<h4>Technology</h4>
							<div class="slider-area">
								<ul class="slider-items">
									<li>
										<div class="content">
											<h3>DTSi</h3>
											<p>
												At the heart of every Bajaj motorcycle lies a singular driving force: Technology. The element that keeps the rider, ahead of the rest.  Bajaj’s patented technology, DTSi stands for Digital Twin / Triple Spark Ignition. This essentially uses 2 spark plugs in the cylinder head coupled with a digital ignition system to provide lean burn characteristics, faster combustion that results in more power and torque while guaranteeing improved mileage. For more information, check out the Discover technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "discover/new-dtsi.jpg", :alt => 'dtsi-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>Nitrox Mono-shock Suspension</h3>
											<p>
												Bajaj Discover comes with path-breaking shock absorber technology. The Discover 150 uses nitrogen instead of oil in its suspension. This Nitrox Monoshock Suspension is the secret behind the stable and consistent ride offered by Discover. For more information, check out the Discover technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "discover/mono-shock.jpg", :alt => 'mono-shock-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>ExhausTEC</h3>
											<p>
												T.E.C in ExhausTEC stands for Torque Expansion Chamber - a tuned box or a resonator optimally and unobtrusively placed in the exhaust system of the vehicle to provide more torque in the low to mid-range RPMs of the engine. It enhances your ride while providing maximum fuel efficiency. For more information, check out the Discover technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "discover/exhaustec.jpg", :alt => 'exhaustec-image' %>
										</figure>
									</li>
								</ul>
								<div class="slider-arrows">
					                <%= link_to "#", :class=>"left-arrow" do %>
					                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
					                <% end %>
					                <%= link_to "#", :class=>"right-arrow" do %>
					                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
					                <% end %>
					                <div class="clearfix"></div>
					            </div>
					            <ul class="slider-nav">
							        <li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
							        <li><%= link_to "slider-circle", "#" %></li>

							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>