<section id="main-page">
	<div class="slider">
		<div class="slider-area">
			<ul class="slider-items">
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image1.jpg", :alt => 'image1' %>
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image2.jpg", :alt => 'image2' %>
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image3.jpg", :alt => 'image3' %>
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image4.jpg", :alt => 'image4' %>
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image5.jpg", :alt => 'image5' %>
					<% end %>
				</li>
				<li>
					<%= link_to '#' do %>
						<%= image_tag "main-slider-image6.jpg", :alt => 'image6' %>
					<% end %>
				</li>
			</ul>
			<div class="slider-arrows">
                <%= link_to "#", :class=>"left-arrow" do %>
                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
                <% end %>
                <%= link_to "#", :class=>"right-arrow" do %>
                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
                <% end %>
                <div class="clearfix"></div>
            </div>
            <ul class="slider-nav">
		        <li><%= link_to "slider-circle", "#" %></li>
		        <li><%= link_to "slider-circle", "#" %></li>
		        <li><%= link_to "slider-circle", "#" %></li>
		        <li><%= link_to "slider-circle", "#" %></li>
		        <li><%= link_to "slider-circle", "#" %></li>
		        <li><%= link_to "slider-circle", "#" %></li>
		    </ul>
		</div>
	</div>
</section>
