<section id="item-details">
	<div class="cover-image">
		<%= image_tag "platina/platina-cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="content">
			<div class="heading">
				<h3>Platina</h3>
			</div>
			<div class="information">
				<div class="information-level-1">
					<div class="overview">
						<div class="overview-image">
							<h4>OVERVIEW</h4>
							<figure>
								<%= image_tag "platina/platina_overview.jpg", :alt => 'overview-image' %>
							</figure>
						</div>
						<div class="overview-text">
							<p>
								A bike preferred not just by bikers but by achievers too. A bike that combines smart features to offer better fuel efficiency and hence higher mileage. Its smart design coupled with safety features ensures safety on long &amp; arduous journeys. A wise choice, isn’t it?
							</p>
						</div>
					</div>
					<div class="model">
						<h4>Select Model</h4>
						<figure>
							<%= image_tag "platina/platina-100-es.jpg", :alt => 'model image' %>
						</figure>
						<h3>Platina 100 Es</h3>
					</div>
				</div>
				<div class="information-level-2">
					<div class="technology">
						<div class="slider">
							<h4>Technology</h4>
							<div class="slider-area">
								<ul class="slider-items">
									<li>
										<div class="content">
											<h3>ExhausTEC</h3>
											<p>
												Yet another engineering masterpiece, the ExhausTEC is the patented technology of Bajaj Auto. T.E.C stands for Torque Expansion Chamber - a tuned box or a resonator optimally and unobtrusively placed in the exhaust system of the vehicle to provide more torque in the low to mid-range rpms of the engine. It enhances your ride while providing maximum fuel efficiency.
											</p>
										</div>
										<figure>
											<%= image_tag "platina/exhaustec.jpg", :alt => 'exhaustic-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>SNS Suspension</h3>
											<p>
												Spring in Spring Suspension (SNS) is one of Bajaj’s patented -technologies. An engineering marvel that employs two springs; an inner and an outer one of the same axis but of different dimensions. These springs differentiate between large and small shocks. While the inner spring absorbs the impact of small bumps the outer spring absorbs the impact of bigger bumps making your ride comfortable and safe.	
											</p>
										</div>
										<figure>
											<%= image_tag "platina/platina_sns.jpg", :alt => 'sns-image' %>
										</figure>
									</li>
								</ul>
								<div class="slider-arrows">
					                <%= link_to "#", :class=>"left-arrow" do %>
					                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
					                <% end %>
					                <%= link_to "#", :class=>"right-arrow" do %>
					                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
					                <% end %>
					                <div class="clearfix"></div>
					            </div>
					            <ul class="slider-nav">
							        <li><%= link_to "slider-circle", "#" %></li>
							        <li><%= link_to "slider-circle", "#" %></li>

							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>