<section id="item-details">
	<div class="cover-image">
		<%= image_tag "pulsar/pulsar_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="content">
			<div class="heading">
				<h3>Pulsar</h3>
			</div>
			<div class="information">
				<div class="information-level-1">
					<div class="overview">
						<div class="overview-image">
							<h4>OVERVIEW</h4>
							<figure>
								<%= image_tag "pulsar/pulsar_overview.jpg", :alt => 'overview-image' %>
							</figure>
						</div>
						<div class="overview-text">
							<p>
								Pulsar – the sports bike that gives every aspiring rider the power to play. The bike that answers the need to seek thrill and adventure every single day. A bike that has become a symbol of the biker’s individuality.
							</p>
						</div>
					</div>
					<div class="model">
						<div class="slider">
							<h4>Select Model</h4>
							<div class="slider-area">
								<ul class="slider-items">
									<li>
										<figure>
											<%= image_tag "pulsar/pulsar-ns_200.jpg", :alt => 'model image' %>
										</figure>
										<h3>Pulsar NS 200</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "pulsar/pulsar-200-f.jpg", :alt => 'model image' %>
										</figure>
										<h3>Pulsar 220 F</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "pulsar/pulsar-180.jpg", :alt => 'model image' %>
										</figure>
										<h3>Pulsar 180</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "pulsar/pulsar-150.jpg", :alt => 'model image' %>
										</figure>
										<h3>Pulsar 150</h3>
									</li>
									<li>
										<figure>
											<%= image_tag "pulsar/pulsar-135-ls.jpg", :alt => 'model image' %>
										</figure>
										<h3>Pulsar 135</h3>
									</li>
								</ul>
								<div class="slider-arrows">
					                <%= link_to "#", :class=>"left-arrow" do %>
					                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
					                <% end %>
					                <%= link_to "#", :class=>"right-arrow" do %>
					                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
					                <% end %>
					                <div class="clearfix"></div>
					            </div>
					            <ul class="slider-nav">
							        <li><%= link_to "slider-circle", "#" %></li>
		      					 	<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
							        <li><%= link_to "slider-circle", "#" %></li>
							    </ul>
							</div>
						</div>
					</div>
				</div>
				<div class="information-level-2">
					<div class="technology">
						<div class="slider">
							<h4>Technology</h4>
							<div class="slider-area">
								<ul class="slider-items">
									<li>
										<div class="content">
											<h3>DTSi</h3>
											<p>
												At the heart of every Bajaj motorcycles lies a singular driving force: Technology. The element that keeps every Pulsar rider, ahead of the rest.
											</p>
											<p class="detail">
												Bajaj’s patented technology, DTSi - stands for Digital Twin / Triple Spark Ignition. This essentially uses 2 or 3 spark plugs in the cylinder head coupled with a digital ignition system to provide lean burn characteristics and faster combustion that results in more power and torque while guaranteeing improved mileage. For more information, check out the Pulsar technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/new-dtsi.jpg", :alt => 'dtsi-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>Twin Spark Ignition</h3>
											<p>
												Two spark plugs fire away in a co-ordinated manner that results in optimal combustion.
											</p>
											<p class="detail">
												Their position and electronically controlled ignition timings lead to faster and more complete combustion than single spark technology. A unique technological breakthrough that results in more power and fuel efficiency than single spark system. For more information, check out the Pulsar technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/twin-spark-ignition.jpg", :alt => 'twin-spark-ignition-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>Triple Spark Ignition</h3>
											<p>
												A technological breakthrough, Triple Spark Ignition upgrades the concept of twin spark even further. Three spark plugs are employed to provide best in class performance and efficiency.
											</p>
											<p class="detail">
												The triple spark engine is monitored by an Electronic Control Unit. It leads to 50 % faster and optimal combustion at partial loading conditions. Triple Spark Ignition results in superior power output and maximum fuel efficiency with lower emissions. For more information, check out the Pulsar technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/triple-spark.jpg", :alt => 'triple-spark-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>4 Valve</h3>
											<p>
												The 4 valve technology has been built keeping in mind an efficient combustion process. Typically, an engine’s combustion chamber is 1/3rd the size.  However, a 4 valve head increases the combustion area to more than 50% which in turn increases the flow area of intake and exhaust passages leading to the valves. However, there are more advantages of a 4 valve system than you think:
											</p>
											<p class="detail">
												<p>
													i) It leads to more quantity of air – fuel mixture.
												</p>
												<p>
													ii) Facilitates steady evacuation of gases inside the chamber causing efficient combustion.
												</p>
												<p>
													iii) Two intake and two exhaust valves improves the breathing of the engine.
												</p>
												<p>
													iv) Smaller and lighter valves compared to a typical engine. For more information, check out the Pulsar technology video in the videos section.
												</p>
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/4-valve.jpg", :alt => '4-valve-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>ExhausTEC</h3>
											<p>
												T.E.C in ExhausTEC stands for Torque Expansion Chamber - a tuned box or a resonator optimally and unobtrusively placed in the exhaust system of the vehicle to provide more torque in the low to mid-range RPMs of the engine. It enhances your ride while providing maximum fuel efficiency. For more information, check out the Pulsar technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/exhaustec.jpg", :alt => 'exhaustec-image' %>
										</figure>
									</li>
									<li>
										<div class="content">
											<h3>Intelligent C.D.I</h3>
											<p>
												The Intelligent Capacitor Discharge Ignition continuously senses multiple speeds and the recurring load on engine thereby adjusting the ignition timing accordingly. Intelligent C.D.I works along with TRICS III to provide optimum ignition timings at different engine RPMs creating a ride that’s smooth, noise free and fuel efficient. For more information, check out the Pulsar technology video in the videos section.
											</p>
										</div>
										<figure>
											<%= image_tag "pulsar/digital-cdi-2.jpg", :alt => 'digital-cdi-2-image' %>
										</figure>
									</li>
								</ul>
								<div class="slider-arrows">
					                <%= link_to "#", :class=>"left-arrow" do %>
					                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
					                <% end %>
					                <%= link_to "#", :class=>"right-arrow" do %>
					                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
					                <% end %>
					                <div class="clearfix"></div>
					            </div>
					            <ul class="slider-nav">
							        <li><%= link_to "slider-circle", "#" %></li>
		      					 	<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
		        					<li><%= link_to "slider-circle", "#" %></li>
							    </ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>