<section id="item">
	<div class="cover-image">
		<%= image_tag "items/ct/ct100_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>heading</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>CT 100</h2>
				<p>
					A feature filled motorcycle that proves its efficiency on the roads. A bike combined with reliability, ruggedness and everyday practicality in a classic look to offer stunning mileage of 89.6 (as per ARAI testing) and power.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>99.27 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>8.2 (6.03 Kw) @ 7500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4 stroke, Air-cooled, SI Engine</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>8.05 @ 4500 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/ct/ct100_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>				
    									100 cc engine
									</p>
									<p>Amazing mileage</p>
									<p>High Fuel Tank Capacity</p>
									<p>ExhausTEC</p>
								</div>
								<p class="text">
									A bike that provides what every rider looks for in an efficient bike: 100 cc single cylinder air cooled engine that churns out a respectable 8.2Ps power, while still delivering unbelievable fuel efficiency of 89.6 KMPL. Functionality that brings efficiency and dynamic riding fun.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/ct/ct100_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/ct/ct100_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Attractive Graphics in 3 colours
									</p>
									<p>Modern Decals</p>
									<p>Chrome Rear Brake Pedal</p>
									<p>Graphite Tint Engine</p>
								</div>
								<p class="text">
									A classic bike that has retained its stylish and sleek look over the years. With its attractive streak design, rear panels, fluid grab rails, transmission with a black silencer and a chrome heat shield, the CT 100 packs in timelessness while guaranteeing a stylish ride.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/ct/ct100_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										Large wheelbase
									</p>
									<p>3 inch wider rear tyres</p>
								</div>
								<p class="text">
									CT 100 is designed to provide maximum safety while delivering an efficient ride to the biker. Its large wheelbase of 1275 mm and wide rear tyres make it a reliable companion on long journeys.	
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										125 mm Front Suspension
									</p>
									<p>Rear SNS Suspension</p>
									<p>Long Seat</p>
								</div>
								<p class="text">
									Bajaj’s patented SNS Suspension technology provides utmost comfort to the rider on any given terrain. It absorbs impact on both big as well as small bumps while maintaining a smooth ride. Its extra long seat is capable of seating as many as four people.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/ct/ct100_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>