<section id="item">
	<div class="cover-image">
		<%= image_tag "items/discover/discover_100m_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Discover 100 M</h2>
				<p>
					A bike that takes away the monotony of the everyday ride with its thoughtful features and new design philosophy. Bajaj 100M is a bike meant for those who seek power and mileage out of their ride. Are you one of them? Then Discover 100M is the bike for you.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>102 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>9.03 @ 8000 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4-Valve-Twin Spark DTS-i</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>9.02 @ 6000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/discover/discover_100m_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>				
    									94.3 cc 4 valve DTSi engine
									</p>
									<p>9.3Ps @8000RPM</p>
									<p>9.02 Nm @6000RPM</p>
									<p>ExhausTEC</p>
									<p>95 KMPH</p>
								</div>
								<p class="text">
									Discover 100M comes with ‘long stroke’ characteristic – a unique feature that delivers pulling power from low speeds even at higher gears eliminating the need for constant gear shifts. Its 94.3 cc 4 valve DTSi engine brings an amazing 9.3 Ps power (25% more than standard 100 cc bikes). Bajaj’s patented technology – ExhausTEC also facilitates in reducing the need for frequent gear shifts.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/100m_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/100m_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Muscular Fuel Tank
									</p>
									<p>Aluminium Side Sets</p>
									<p>10 spoke alloy wheels</p>
									<p>Two Tone Decals</p>
								</div>
								<p class="text">
									Discover 100M has a stylish bearing: right from its muscular fuel tank, 10 spoke alloys and aluminium side sets. Its stylish two tone decals add a touch of vibrancy to its unique design. Add style to your exciting daily commute with the Discover 100M.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/100m_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										200mm Petal Disc Brake
									</p>
									<p>12V DC Headlights</p>
								</div>
								<p class="text">
									Its petal disc brakes have a higher surface area for cooling. It results in effective braking system that makes riding safe in the city. Its 12V 35/35W DC headlamp never loses its steady beam of light, even when the bike slows down neither does it flicker or dim.	
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										1305 mm Wheelbase
									</p>
									<p>Nitrox Suspension</p>
								</div>
								<p class="text">
									Its ergonomically designed seat is perfectly complimented by a long wheelbase turning your daily commute into a pleasant riding experience. The revolutionary Nitrox Suspension that employs the use of nitrogen instead of oil, unlike conventional bike suspensions, makes your ride smooth and exciting.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/100m_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>