<section id="item">
	<div class="cover-image">
		<%= image_tag "items/discover/discover_150f_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Discover 150 F</h2>
				<p>
					Discover 150F is an affirmation in the belief that power and mileage can coexist. It is a bike that combines technologies to deliver a powerful and economical ride. A bike that blends design along with engineering to give you what you desire the most from your vehicle: an unadulterated &amp; exciting ride.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>144.08 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>14.05 @ 8500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4 Valve Twin Spark Air Cooled</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>12.75 @ 6500 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/discover/discover_150f_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										144.8 cc single cylinder 4 valve DTS-i engine
									</p>
									<p>14.5 Ps power @ 8500 RPM</p>
									<p>110 kmph top speed</p>
									<p>5 speed constant mesh gearbox</p>
									<p>10 litre fuel tank</p>
								</div>
								<p class="text">
									Discover 150F comes with Bajaj’s patented 4 valve DTS-i technology that enhances your daily ride through efficient fuel combustion. This bike generates 40 % more power than 125 cc engines at higher RPMs and yet delivers an amazing mileage of 72KMPL (certified by CMVR).
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150f_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150f_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Half Fairing with Integrated Head Lamp
									</p>
									<p>LED Tail Lamps</p>
									<p>Sculpted Tank</p>
								</div>
								<p class="text">
									Bajaj Discover 150F embodies excitement through its stylish features. Its chiseled fairing along with an integrated head lamp gives it a sporty look. The sculpted tank flaunts the sleek look while the LED tail lamps add a dash of ornamentation to its otherwise masculine exterior.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150f_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										DC Headlamps
									</p>
									<p>Petal Disc Brake</p>
									<p>Tubeless Tyres</p>
									<p>LED Tail Lamps</p>
									<p>10 Spoke Alloys</p>
								</div>
								<p class="text">
									The Discover is not just about excitement &amp; style, it’s about safety &amp; responsibility as well. It’s equipped with 10 spoke alloy wheels which not only look great but also enhance structural rigidity resulting in improved handling and acceleration. The Petal Disc Brakes provide a greater surface for cooling and result in efficient &amp; precise braking. Its unidirectional tubeless tyres: Front Tyre (80 mm) and Rear Tyre (100mm) provide an assured grip on every road. Its LED tail lamps ensure maximum visibility even from a long distance, enhancing the safety for the rider on long night rides.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										1305 mm long Wheelbase
									</p>
									<p>Ergonomically Designed Long Seat</p>
									<p>Nitrox Monoshock Suspension</p>
								</div>
								<p class="text">
									Bajaj Discover 150F comes with Nitrox Monoshock Suspension – Bajaj’s patented technology that employs nitrogen in the suspension, instead of the conventional oil filled suspension. It enhances the stability of the bike on a variety of terrains to deliver a smooth riding experience. That’s not all. The Bajaj 150F adds additional stability through a long wheelbase that complements its ergonomically designed seat to bring comfort to the rider as well as the pillion.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150f_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>