<section id="item">
	<div class="cover-image">
		<%= image_tag "items/discover/discover_125m_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Discover 125 M</h2>
				<p>
					Turn on the ignition of a Bajaj Discover 125M. Remember, you are going to get two things: unexpected power and no compromises on mileage. Take a closer look at Discover 125M. Notice its new design. The style it embodies. Go a little deeper – witness Bajaj’s patented technologies at work. Now, grab the handles and hop on. An exciting ride is about to begin.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>124.06 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>11.05 @ 8000 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>Single cyl, 4-valve, DTS-i with ExhausTEC</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>10.08 @ 6000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/discover/discover_125m_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										Electric Start
									</p>
									<p>124.6 cc 4 valve DTSi engine</p>
									<p>11.5 Ps @ 8000 RPM</p>
									<p>10.8 Nm @ 6000 RPM</p>
									<p>76 KMPL (Certified by CMVR)</p>
									<p>ExhausTEC</p>
								</div>
								<p class="text">
									A bike that stands for thoughtful engineering. Bajaj 125M comes with features like CDI based mapping for ignition, eliminating the need for kick starting your bike. Not just that, its ignition is powered by a low maintenance battery. The 124.6 cc 4 valve DTSi engine churns out a remarkable power of 11.5Ps while giving a good mileage of 76KMPL.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/125m_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/125m_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Muscular Fuel Tank
									</p>
									<p>Aluminium Side Sets</p>
									<p>10 spoke alloy wheels</p>
								</div>
								<p class="text">
									Discover 125M adds a host of exciting style features: right from its muscular fuel tank to the 10 spoke alloys and aluminium side sets that are a hallmark of the signature Discover styling.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/125m_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										200mm Petal Disc Brake
									</p>
									<p>12V DC Headlights</p>
								</div>
								<p class="text">
									Its petal disc brakes have a higher surface area for cooling. They provide an effective braking system that makes riding safe in the city. Its 12V 35/35W DC headlamp never loses its steady beam of light, does not flicker or dim, even when the bike slows down.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										1305 mm Wheelbase
									</p>
									<p>Nitro x Monoshock Suspension</p>
								</div>
								<p class="text">
									Its ergonomically designed seat is perfectly complimented by its long wheelbase turning your daily commute into a pleasant riding experience. The revolutionary Nitrox Monoshock Suspension (that employs the use of nitrogen unlike oil in conventional bike suspensions) makes your ride stable, smooth and exciting.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/125m_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>