<section id="item">
	<div class="cover-image">
		<%= image_tag "items/discover/discover_150s_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Discover 150 s</h2>
				<p>
					What makes Discover 150S so special? The fact that it understands the needs of the biker to get both power and mileage. The fact that it was created keeping in mind Bajaj’s new design philosophy. The fact that it goes beyond conventional engineering to offer best in class features without compromising on economy. The fact that when you ride it, you fall in love with your daily commute.
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>144.08 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>14.05 @ 8500 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4 Valve Twin Spark Air Cooled</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>12.75 @ 6500 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/discover/discover_150s_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>
										144.8 cc single cylinder 4 valve DTS-i engine
									</p>
									<p>14.5 Ps power @ 8500 RPM</p>
									<p>110 kmph top speed</p>
									<p>5 speed constant mesh gearbox</p>
									<p>10 litre fuel tank</p>
								</div>
								<p class="text">
									Bajaj discover 150S comes with 144.8 cc single cylinder 4 valve DTS-i engine that transforms your everyday ride into an exciting ride. The technology is designed to offer 25% more power and yet provide a mileage of 72kmpl. Want more? Bajaj Discover gives you an uninhibited experience with a top speed of 110 kmph. Bike on!
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150s_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150s_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Muscular Fuel Tank
									</p>
									<p>LED Tail Lamps</p>
									<p>10 Spoke Alloy Wheels</p>
								</div>
								<p class="text">
									Style that adds excitement to your ride. With the Bajaj Discover 150S, you ride a bike that looks great with a muscular fuel tank, LED Tail Lamps and 10 Spoke Alloy wheels. A bike that comes with its own signature style.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150s_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										DC Headlamps
									</p>
									<p>Petal Disc Brake</p>
									<p>Tubeless Tyres</p>
									<p>10 Spoke Alloys</p>
								</div>
								<p class="text">
									The rider’s safety is very important and that is exactly what you get when you ride a Discover 150F. Its 10 spoke alloy wheels not only look great but are structurally rigid resulting in efficient handling, acceleration and braking. Petal Disc Brakes give more surface for cooling and ensure precise yet efficient braking.
								</p>
								<p class="text">
									Discover 150F comes with unidirectional tubeless tyres: Front Tyre (80 mm) and Rear Tyre (100mm) that provide a confident grip on every road.
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										1305 mm long Wheelbase
									</p>
									<p>Ergonomically Designed Long Seat</p>
									<p>Nitrox Monoshock Suspension</p>
								</div>
								<p class="text">
									Bajaj Discover 150S comes with the path breaking Nitrox Monoshock Suspension that employs nitrogen in its suspension instead of conventional oil that results in froth and bubble formation. Nitrox Monoshock Suspension enhances the stability of the bike on a variety of terrains and provides a consistently smooth riding experience. Its ergonomically designed long seat is complemented by its long wheelbase that gives comfort to the rider and pillion.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/discover/150s_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				       <li><%= link_to "slider-circle", "#" %></li>
				       <li><%= link_to "slider-circle", "#" %></li>
				       <li><%= link_to "slider-circle", "#" %></li>
				       <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>