<section id="item">
	<div class="cover-image">
		<%= image_tag "items/avenger/avenger_cover.jpg", :alt => 'cover-image' %>
	</div>
	<div class="wrapper">
		<div class="heading">
			<h3>overview</h3>
		</div>
		<div class="container">
			<div class="content">
				<h2>Avenger 220</h2>
				<p>
					The feeling of being the only one on the road comes when you ride a bike that has enough torque and muscle to dominate every twist and turn. A bike crafted for the divine rider. With Avenger 200, feel the world silently bowing down as you conquer every mile
				</p>
				<ul class="item-detail">
					<li>
						<figure>
							<%= image_tag "items/capacity.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Capacity</h5>
							<p>219.89 cc</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/power.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Power</h5>
							<p>19.03 @ 8400 (Ps @ RPM)</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/engine.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Engine</h5>
							<p>4-stroke, single cylinder, DTS-i, air cooled with oil-cooler</p>
						</div>
					</li>
					<li>
						<figure>
							<%= image_tag "items/torque.png", :alt => 'icon' %>
						</figure>
						<div class="detail">
							<h5>Torque</h5>
							<p>17.05 @ 7000 (Nm @ RPM)</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="right-side">
				<figure>
					<%= image_tag "items/avenger/avenger_overview.jpg", :alt => 'pulsar-variant-image' %>
				</figure>
			</div>
		</div>
		<div class="features">
			<div class="slider">
				<h4>Features</h4>
				<div class="slider-area">
					<ul class="slider-items">
						<li>
							<div class="content">
								<h3>Performance</h3>
								<div class="points">
									<p>				
    									4 stroke single cylinder, DTSi 220cc Engine
									</p>
									<p>Air cooled with oil cooler</p>
									<p>Digital twin spark plug ignition</p>
									<p>Tripmeter</p>
								</div>
								<p class="text">
									The cruiser bike that conquers every road and hits every mile like a frontrunner. Its twin spark plug instead of a single one gives the bike extra power that gets you cruising that additional distance while maintaining fuel efficiency.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/avenger/avenger_performance.jpg", :alt => 'performance-image' %>
								</figure>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/avenger/avenger_style.jpg", :alt => 'style-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>STYLING</h3>
								<div class="points">
									<p>
										Low slung cruiser appearance
									</p>
									<p>Classic tank set fuel gauge</p>
									<p>Silver Chrome Plating</p>
									<p>Optional Windshield</p>
								</div>
								<p class="text">
									The feeling that you are the supreme one on the road begins when you saddle on this cruising machine. Its low slung styling that extends to a beautifully sculpted tank complete with a chrome finish is a style statement that befits every God.
								</p>
							</div>
						</li>
						<li>
							<div class="item-image">
								<figure>
									<%= image_tag "items/avenger/avenger_safety.jpg", :alt => 'safety-image' %>
								</figure>
							</div>
							<div class="content">
								<h3>SAFETY</h3>
								<div class="points">
									<p>
										Wide Front &amp; Rear Wheels
									</p>
									<p>Bigger Front Disc Brake</p>
									<p>Modified Rear Brake Arrangement</p>
								</div>
								<p class="text">
									What makes you invincible on an Avenger is its better road grip that comes from its broad rear tyre and disc brake on the front for improved braking. No matter which road comes under your wheels, your cruise is packed with safety. But that’s not all. An Avenger’s stable structure keeps you going even at longer distances.	
								</p>
							</div>
						</li>
						<li>
							<div class="content">
								<h3>COMFORT</h3>
								<div class="points">
									<p>
										Low Centre Of Gravity
									</p>
									<p>Dual Foam Density Seat</p>
									<p>Special backrest for the pillion</p>
									<p>Push button indicator</p>
									<p>Low Battery Level Indicator</p>
								</div>
								<p class="text">
									Feel divine on an Avenger when you take the wheels. With its low centre of gravity and dual foam density seat, Avenger 220 ensures that you maintain a comfortable posture throughout the ride.
								</p>
							</div>
							<div class="item-image">
								<figure>
									<%= image_tag "items/avenger/avenger_comfort.jpg", :alt => 'comfort-image' %>
								</figure>
							</div>
						</li>
					</ul>
					<div class="slider-arrows">
		                <%= link_to "#", :class=>"left-arrow" do %>
		                    <%= image_tag "left-arrow.png", :alt=>'left-arrow' %>
		                <% end %>
		                <%= link_to "#", :class=>"right-arrow" do %>
		                    <%= image_tag "right-arrow.png", :alt=>'right-arrow' %>
		                <% end %>
		                <div class="clearfix"></div>
		            </div>
		            <ul class="slider-nav">
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				        <li><%= link_to "slider-circle", "#" %></li>
				    </ul>
				</div>
			</div>
		</div>
	</div>
</section>